body{
    margin:0%;
}
a{
    margin:5px;
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: underline;
    color:red;
}

nav{
    display:flex;
    justify-content:space-between ;
}

.nav-bar {
    display:flex;
  align-items:center;
}
#btn{
    width:60px;
    height:30px;
    background-color: #4285f4;
    font-size: 13px; 
    border:none;
    border-radius:2px;
    margin-right: 10px;
    font-weight: bold;
    color:white;
    
}